.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* --------------------------------------------- */
body {
  padding: 3em;
  background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet, red);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

p {
  margin: 0;
  color: white;
  mix-blend-mode: difference;
}


.App div:not(:first-child) {
  border: 1px solid black;
}

.App div:not(:first-child):hover {
  filter: invert(100%);
  cursor: pointer;
}

.App div:nth-child(2) {
  border-radius: 20px 20px 0px 0px;
}

.App div:last-child {
  border-radius: 0px 0px 20px 20px;
}